{% extends "base.html" %}
<!-- Include the footer  -->
{% block content %}
<p>Hello {{user.lastname}} {{user.firstname}},</p>

<p>A debit transaction has occurred on your account.</p>

<div class="amount failed">{{payment.amount}}</div>

<table class="table">
  <tr>
    <td><strong>Account</strong></td>
    <td>{{user.wallet.walletAccount}}</td>
  </tr>
  <tr>
    <td><strong>Merchant</strong></td>
    <td>{{ payment.reference }}</td>
  </tr>
  <tr>
    <td><strong>Transaction ID</strong></td>
    <td>{{payment.reference}}</td>
  </tr>
  <tr>
    <td><strong>Date</strong></td>
    <td>{{ payment.created_at }}</td>
  </tr>
  <tr>
    <td><strong>Balance</strong></td>
    <td>{{payment.statusMessage}}</td>
  </tr>
</table>

<p>
  If you do not recognize this transaction, please contact support immediately.
</p>
{% endblock %}
